:root {
  --color: #688a7e;
}

.panel-body-j {
  padding-top: 0;
}

.panel-body-bg {
  background   : #fff;
  margin       : 0 15px;
  margin-bottom: 2em;
  padding      : 2.5em;
}

.page-header-table {
  margin        : 15px 0 10px;
  border-bottom : none;
  opacity       : 0.7;
  text-transform: uppercase;
}

.page-header-obs {
  text-transform: capitalize;
}

.page-paragreph {
  margin       : 12px 0 20px;
  border-bottom: none;
  opacity      : 0.7;
}

.paragraph {
  padding-top  : 10px;
  border-bottom: none;
  opacity      : 0.7;
  margin-left  : 3px;
}

.linear {
  display   : inline-block;
  margin-top: 1px;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.content-table {
  padding: 1.5em;
  border : .5px solid rgb(204, 204, 204);
}

.block {
  display: block
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

#none-border {
  border: 0;
}

.top-line {
  border-top: 1px solid #ddd;
}

.bottom-line {
  padding-bottom: 1em;
  border-bottom : 1px solid #ddd;
}

.title {
  margin-bottom: 0;
}

.sub-title {
  margin : 0;
  padding: 0;
}

.margin-bottom {
  margin-bottom: 3em;
}

.margin-top {
  margin-top: 1em;
}

.flex {
  display        : flex;
  justify-content: flex-end;
}

.form-delete {
  display: inline-block;
}

.form-delete-button {
  border-top-left-radius   : 0;
  border-bottom-left-radius: 0;
}

.sub-title-show-article {
  font-size    : 1.3em;
  margin-bottom: .3em;
}

.act-in span {
  color                : #b64c4c;
  text-decoration      : none;
  border-radius        : 50%;
  -webkit-border-radius: 50%;
  margin-right         : 10px;
  font-weight          : 400;
  font-size            : 13px;
}

.employee-image {
  display: flex !important;
}

.article-brand {
  margin-top: 0;
}

.price {
  font-size  : 1.2em;
  font-weight: bold;
  text-align : center
}

.btn-login-form {
  color: #fff !important;
}

.btn-login-form:hover {
  color      : #34aadc !important;
  font-weight: 200 !important;
}

.code.fixed {
  font-family: lato, serif !important;
  font-weight: 700 !important;
  font-size  : 14px !important;
}

.input-file {
  padding: 7px 0 0;
}

.label-image {
  margin: 0 auto;
}

.card-title,
.card-title a {
  margin-top   : 0;
  margin-bottom: 0;
  color        : inherit;
}

.card-image {
  margin-bottom: 1.5em;
  max-width    : 100%;
  height       : auto;
}

.card-content {
  font-size: 15px;
  color    : #688a7e;
}

.card-content-image {
  width           : 30%;
  background-color: red;
}

.card-content-info {
  font-size: 24px;
  color    : var(--color);
}

.show-employee, .show-user{
  margin-bottom: 0;
}
 .alert-inventory{
   margin-top: 5px;
 }